In [2]:
%matplotlib widget

import lotr.plotting as pltltr
import numpy as np
import pandas as pd
from lotr import DATASET_LOCATION
from lotr.em.core import EmNeuron
from lotr.em.loading import load_skeletons_from_zip
from matplotlib import pyplot as plt

anatomy_location = DATASET_LOCATION.parent / "anatomy"

In [3]:
skeletons = load_skeletons_from_zip(anatomy_location / "p001_p040_hab_axons.k.zip")

# Quantify projections in the IPN

In [4]:
projection_df = pd.DataFrame(
    dict(
        side=[s.comments.split(" - ")[1][0] for s in skeletons],
        projection=[s.comments.split(" - ")[1][5] for s in skeletons],
    )
)
# Exclude not fully traced values:
projection_df = projection_df.loc[projection_df["projection"] != "["]

In [5]:
counts_df = pd.DataFrame(
    {
        s: projection_df.loc[projection_df["side"] == s, "projection"].value_counts()
        for s in ["l", "r"]
    }
)

In [6]:
counts_df

      l     r
d  14.0   NaN
i   1.0   NaN
p   NaN   2.0
v   6.0  17.0

In [7]:
((counts_df / projection_df["side"].value_counts()) * 100).round(1)

      l     r
d  66.7   NaN
i   4.8   NaN
p   NaN  10.5
v  28.6  89.5